extends layout

block content
    .content
      .container
        .page-header
          h1 Часто задаваемые вопросы
        .row
          .span10.offset1
            #faqAccordion.accordion
            h4 number of excercises: #{excercises.length}
            each ex in excercises
              .accordion-group
                .accordion-heading
                  h4
                    a(class="accordion-toggle" data-toggle="collapse" data-parent="#faqAccordion" href="#ex#{ex.id}")
                      | #{ex.question}
                div(id="ex#{ex.id}", class="accordion-body collapse")
                  .accordion-inner
                    | #{ex.question}
